<!doctype html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>library | books</title>
</head>
<body>
<h2>this library has:</h2>
<table>
    <thead>
    <tr>
        <th>Title</th>
        <th>Author</th>
        <th>ISBN</th>
        <th>Publisher</th>
        <th>Publication Date</th>
        <th>Pages</th>
        <th>Language</th>
        <th>Quantity</th>
        <th>Created At</th>
        <th>Updated At</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="book : ${books}"}>
        <td th:text="${book.title}"></td>
        <td th:text="${book.author}"></td>
        <td th:text="${book.isbn}"></td>
        <td th:text="${book.publisher}"></td>
        <td th:text="${#temporals.format(book.publicationDate, 'yyyy-MM-dd')}"></td>
        <td th:text="${book.pages}"></td>
        <td th:text="${book.language}"></td>
        <td th:text="${book.quantity}"></td>
        <td th:text="${#temporals.format(book.createdAt, 'yyyy-MM-dd HH:mm')}"></td>
        <td th:text="${#temporals.format(book.updatedAt, 'yyyy-MM-dd HH:mm')}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>